extends layout

block content

    script(src="/javascripts/addOrder.js")
    .container
        h1= title
        div
            .form-group
                label(for="sender") Sender 发货人:
                textarea.form-control(type="text", rows="5", placeholder="sender 发货人", style="resize: none;", id="sender")
            .form-group
                label(for="sender") Receiver 收件人:
                textarea.form-control(type="text",rows="5" , placeholder="receiver 收件人", style="resize: none;", id="receiver")
            .form-group
                label(for="sender") Items 货单:
                textarea.form-control(type="text",rows="5" , placeholder="items 货单", style="resize: none;", id="items")
            button.btn.btn-primary#btnAddOrder Submit
        div
            p#msg
    