extends layout

block content
    
    link(rel='stylesheet', href='/library/bootstrap-datepicker.min.css')
    link(rel="stylesheet", href="/library/DataTables/datatables.min.css")
    script(src="/library/bootstrap-datepicker.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js")
    script(src="/library/DataTables/datatables.min.js")
    script(src="/library/pdfmake.min.js")
    script(src="/library/vfs_fonts.js")
    script(src="/javascripts/viewOrders.js")
    .container
        h1= title
        div
            .input-group
                input.form-control#datepicker(type="text",placeholder="dd/mm/yyyy") 
                .input-group-addon
                    span.glyphicon.glyphicon-calendar
        div
            div#loading(style="width:100%;height: 100%;display:none;text-align: center;")
                img(src="/images/spinner.gif", alt="loading...")
            div(style="width:100%;height:100%;text-align:center;")
                p#msg(style="display:none;")
            div.btn-toolbar(style="padding:20px;")
                button.btn.btn-primary.btn-lg#selectAllBtn(type="button") Select All
                button.btn.btn-primary.btn-lg#selectNoneBtn(type="button") Select None
                button.btn.btn-success.btn-lg#printBtn(type="button") Print
                button.btn.btn-warning.btn-lg#deleteBtn(type="button") Delete
            div#tableDiv(style="width:100%;height: 100%;display:none;text-align: center;")
                table.table.table-condensed#table.display(width="100%")
                    
                    
            

